body
{
	font-family					: Arial, sans-serif;
}

label
{
	display						: block;
	margin-bottom				: 10px;
	font-weight					: bold;
}

 input[type="text"]
,input[type="number"]
,textarea
{
	width						: 100%;
	padding						: 5px;
	margin-bottom				: 15px;
}

pre
{
	background-color			: #f0f0f0;
	padding						: 10px;
	white-space					: pre-wrap;
	font-family					: Consolas, monospace;
}

select option
{
	margin: 40px;
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

/**************************************************************************************************/
span
{
	border-bottom               : 2px solid red;
	position                    : relative;
	cursor                      : help;
}

.tooltip
{
	font-family                 : Consolas, monospace;
	position                    : absolute;
	background-color            : #fa3c58;
	color                       : #fff;
	padding-left                : 15px;
	padding-right               : 15px;
	text-align                  : center;
	border-radius               : 10px;
	right                       : -170px;
	visibility                  : hidden;
}

label:hover .tooltip
{
	visibility                  : visible;
}