body
{
	font-family                 : monospace;
	background-color            : #000000;
	color                       : #FFFFFF;
}

label
{
	display                     : block;
	margin-bottom               : 10px;
	font-weight                 : bold;
}

 input[type="text"]
,input[type="number"]
,textarea
{
	width                      : 100%;
	padding                    : 5px;
	margin-bottom              : 15px;
	background-color           : #1f1f1f;
	color                      : #FFFFFF;
	border                     : 1px solid #333;
}

pre
{
	background-color            : #0f0f0f;
	padding                     : 10px;
	white-space                 : pre-wrap;
	font-family                 : Consolas, monospace;
}

select option
{
	margin: 40px;
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

/**************************************************************************************************/
/**************************************************************************************************/

.tooltip
{
	font-family                 : Consolas, monospace;
	position                    : absolute;
	background-color            : #fa3c58;
	color                       : #fff;
	padding-left                : 15px;
	padding-right               : 15px;
	border-radius               : 2px;
	right                       : -170px;
	visibility                  : hidden;
	text-align                  : left;
}

label:hover .tooltip
{
	visibility                  : visible;
}

.commands
{
    display: inline;
}

.commands input
{
    width: 30%;
    margin-right: 10px;
}

.commands button
{
    margin-right: 10px;
    cursor: pointer;
}